<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Home</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">
    <script src="/plug/jquery/jquery-1.12.4.min.js"></script>
    <script src="/plug/bootstrap/js/bootstrap.js"></script>

    <!-- Bootstrap styles -->
    <link href="/plug/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <!-- Styles -->
    <link rel="stylesheet" href="/css/index.css" rel="stylesheet">
    <style>
        .tag{
            position: relative;
            display: inline-block;
            padding: .4em .5em;
            margin: 2px 2px 2px 0;
            font-size: 11px;
            line-height: 1;
            white-space: nowrap;
            text-decoration: none;
            text-align: center;
            border-width: 1px;
            border-style: solid;
            border-radius: 0;
            transition: all .15s ease-in-out;
        }
        .excerpt {
            font-size: 12px;
            height: 39px;
            line-height: 14px;
            overflow: hidden;
            margin-bottom: 4px;
            font-size: 12px;
            color: #858C93;
            padding: 0;
        }
        .tag-cell {
            width: 230px;
            border-bottom: 1px dotted #E4E6E7;
            padding-bottom: 12px;
            padding-right: 6px;
            padding-top: 6px;
            vertical-align: top;
        }
        .stats-row, .stats-row a, .stats-row a:visited {
            font-size: 11px;
            color: #3C3F44;
        }
        .stats-row {
            padding-top: 4px;
            padding-right: 8px;
            font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;
            font-size: 12px;
            color: #858C93;
        }
         .fl {
            float: left !important;
        }
    </style>
</head>
<body>
	<div id="navbar-main"> 
	  <!-- Fixed navbar -->
		<div class="navbar navbar-default navbar-fixed-top" style="background-color:rgb(2,165,243)">
            <div class="navbar-header" style="margin-left: 50px;">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#home"><i class="fa fa-location-arrow"></i> QSM</a>
            </div>
            <div class="container" style="width: 970px;">

                <div>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <li> <a href="#contact" class="smoothScroll"> 注册</a></li>
                        <li> <a href="#contact" class="smoothScroll"> 注册</a></li>
                        <li> <a href="#contact" class="smoothScroll"> 注册</a></li>
                        <li> <a href="#contact" class="smoothScroll"> 注册</a></li>
                    </ul>
                </div>
              <!--/.nav-collapse -->
            </div>
	  </div>
	</div>
    <div class="main">
        <div class="container" style="width: 970px;">
            <div class="row">
                <div class="col-md-12 blog-main">
                    <div class="input-group" style="text-align: center; margin-top:10px;">
                        <input type="text" class="form-control input-lg"><span class="input-group-addon btn btn-primary">搜索</span>
                    </div>
                </div>
            </div>
			<div class="row">
				<div class="col-md-12 blog-main">
                    <div class="row">
                        <!--
                        <table >
                            <tbody>
                                <tr>
                                    <td class="tag-cell">
                                        <a class="tag" style=" background-color: rgb(255,236,244);">javasript</a>
                                        <div style="height: 39px;overflow: hidden;font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;line-height: 14px; margin-top: 10px;">
                                            <a style="font-size: 5px; text-align: left;display: inline-block ;word-break:break-all;white-space:normal;">
                                                an Open Source,Distributed, RESTful, Search Engine built 中文on top of Lucene8888888888888888888888888888888888888888888999999999999999999998888888888888888888888888888888888888888888888888
                                            </a>
                                        </div>
                                        <div class="stats-row fl">
                                            <a href="/questions/tagged/javascript?sort=newest&amp;days=1" title="883 questions tagged javascript in the last 24 hours">883 asked today</a>,
                                            <a href="/questions/tagged/javascript?sort=newest&amp;days=7" title="6663 questions tagged javascript in the last 7 days">6663th88888888888999999999999999999999888888888888is week</a>
                                        </div>
                                    </td>
                                </tr>

                            </tbody>
                        </table>
                        -->

                        <div class="col-md-3"style="padding-left: 15px;padding-right: 5px;margin-top: 5px;">
                            <article class=" blog-teaser" style="border: 1px solid #ddd;">
                                <div>
                                    <a class="tag" style=" background-color: rgb(255,236,244);">javasript</a>
                                </div>
                                <div style="height: 39px;overflow: hidden;font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;line-height: 14px; margin-top: 10px;">
                                    备注:<a style="font-size: 5px; text-align: left;display: inline-block ;word-break:break-all;white-space:normal;">无</a>
                                </div>
                                <div style="font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;line-height: 14px; margin-top: 10px;font-size: 5px; text-align: left;display: inline-block ;word-break:break-all;white-space:normal;">
                                    问题数量：<a class="tag btn-info" style="border-radius: 90px;">1000</a><br/>
                                    文章数量：<a class="tag btn-info" style="border-radius: 90px;">10088888</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-3"style="padding-left: 15px;padding-right: 5px;margin-top: 5px;">
                            <article class=" blog-teaser" style="border: 1px solid #ddd;">
                                <div>
                                    <a class="tag" style=" background-color: rgb(255,236,244);">javasript</a>
                                </div>
                                <div style="height: 39px;overflow: hidden;font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;line-height: 14px; margin-top: 10px;">
                                    备注:<a style="font-size: 5px; text-align: left;display: inline-block ;word-break:break-all;white-space:normal;">无</a>
                                </div>
                                <div style="font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;line-height: 14px; margin-top: 10px;font-size: 5px; text-align: left;display: inline-block ;word-break:break-all;white-space:normal;">
                                    问题数量：<a class="tag btn-info" style="border-radius: 90px;">1000</a><br/>
                                    文章数量：<a class="tag btn-info" style="border-radius: 90px;">10088888</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-3"style="padding-left: 15px;padding-right: 5px;margin-top: 5px;">
                            <article class=" blog-teaser" style="border: 1px solid #ddd;">
                                <div>
                                    <a class="tag" style=" background-color: rgb(255,236,244);">javasript</a>
                                </div>
                                <div style="height: 39px;overflow: hidden;font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;line-height: 14px; margin-top: 10px;">
                                    备注:<a style="font-size: 5px; text-align: left;display: inline-block ;word-break:break-all;white-space:normal;">无</a>
                                </div>
                                <div style="font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;line-height: 14px; margin-top: 10px;font-size: 5px; text-align: left;display: inline-block ;word-break:break-all;white-space:normal;">
                                    问题数量：<a class="tag btn-info" style="border-radius: 90px;">1000</a><br/>
                                    文章数量：<a class="tag btn-info" style="border-radius: 90px;">10088888</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-3"style="padding-left: 15px;padding-right: 5px;margin-top: 5px;">
                            <article class=" blog-teaser" style="border: 1px solid #ddd;">
                                <div>
                                    <a class="tag" style=" background-color: rgb(255,236,244);">javasript</a>
                                </div>
                                <div style="height: 39px;overflow: hidden;font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;line-height: 14px; margin-top: 10px;">
                                    备注:<a style="font-size: 5px; text-align: left;display: inline-block ;word-break:break-all;white-space:normal;">无</a>
                                </div>
                                <div style="font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;line-height: 14px; margin-top: 10px;font-size: 5px; text-align: left;display: inline-block ;word-break:break-all;white-space:normal;">
                                    问题数量：<a class="tag btn-info" style="border-radius: 90px;">1000</a><br/>
                                    文章数量：<a class="tag btn-info" style="border-radius: 90px;">10088888</a>
                                </div>
                            </article>
                        </div>
                        <div class="col-md-3"style="padding-left: 15px;padding-right: 5px;margin-top: 5px;">
                            <article class=" blog-teaser" style="border: 1px solid #ddd;">
                                <div>
                                    <a class="tag" style=" background-color: rgb(255,236,244);">javasript</a>
                                </div>
                                <div style="height: 39px;overflow: hidden;font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;line-height: 14px; margin-top: 10px;">
                                    备注:<a style="font-size: 5px; text-align: left;display: inline-block ;word-break:break-all;white-space:normal;">无</a>
                                </div>
                                <div style="font-family: Arial,Liberation Sans,DejaVu Sans,sans-serif;line-height: 14px; margin-top: 10px;font-size: 5px; text-align: left;display: inline-block ;word-break:break-all;white-space:normal;">
                                    问题数量：<a class="tag btn-info" style="border-radius: 90px;">1000</a><br/>
                                    文章数量：<a class="tag btn-info" style="border-radius: 90px;">10088888</a>
                                </div>
                            </article>
                        </div>
					</div>
				</div>
			</div>
			<div class="row">
                <div class="col-md-8 blog-main" style="margin-right: 0px;padding-right: 0px;">
                    <div class="row">
                        <ul class="nav nav-tabs aw-nav-tabs active hidden-xs">
                            <li><a href="http://spring4all.com/sort_type-unresponsive">等待回复</a></li>
                            <li><a href="http://spring4all.com/sort_type-hot__day-7" id="sort_control_hot">热门</a></li>
                            <li><a href="http://spring4all.com/is_recommend-1">推荐</a></li>
                            <li class="active"><a href="http://spring4all.com/">最新</a></li>

                            <h2 class="hidden-xs"><i class="icon icon-list"></i> 发现</h2>
                        </ul>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-6">
                            <article class=" blog-teaser">

                                <header>
                                    <img src="img/1.jpg" alt="">
                                    <h3><a href="single.html">How to Create Template</a></h3>
                                    <span class="meta">19 August 2015, John Doe</span>
                                    <hr>
                                </header>

                            </article>
                        </div>
                        <div class="col-md-6 col-sm-6" style="margin-left: 0px; padding-left: 0px;">
                            <article class="blog-teaser">
                                <header>
                                    <img src="img/2.jpg" alt="">
                                    <h3><a href="single.html">Clean Personal Blog Template</a></h3>
                                    <span class="meta">19 August 2015, John Doe</span>
                                    <hr>
                                </header>

                            </article>
                        </div>
                    </div>


                </div>
                <div class="col-md-4 blog-main">
                    <div class="aside-widget">
                        <header>
                            <h3>IT达人</h3>
                        </header>
                        <div class="body clearfix">
                            <ul class="tags">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">COMPONENTS</a></li>
                                <li><a href="#">TEMPLATE</a></li>
                                <li><a href="#">PLUGIN</a></li>
                                <li><a href="#">BOOTSTRAP</a></li>
                                <li><a href="#">TUTORIAL</a></li>
                                <li><a href="#">UI/UX</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="aside-widget">
                        <header>
                            <h3>新增标签</h3>
                        </header>
                        <div class="body clearfix">
                            <ul class="tags">
                                <li><a href="#">HTML5</a></li>
                                <li><a href="#">CSS3</a></li>
                                <li><a href="#">COMPONENTS</a></li>
                                <li><a href="#">TEMPLATE</a></li>
                                <li><a href="#">PLUGIN</a></li>
                                <li><a href="#">BOOTSTRAP</a></li>
                                <li><a href="#">TUTORIAL</a></li>
                                <li><a href="#">UI/UX</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="footerwrap" style="background-color:black;">
	  <div class="container">
		<div class="row">
		  <div class="col-md-8"></span> </div>
		  <div class="col-md-4">
			<ul class="list-inline social-buttons">
			</ul>
		  </div>
		</div>
	  </div>
	</div>

</body>
</html>