<% include common/header.html %>
<div class="account-container">
  <div class="content clearfix" style="text-align: center;border: 1px; margin-top:40px; ">
    <h3>用户登录</h3>
    <div class="login-fields">
      <div class="field">
        <input type="text" id="userName" name="userName" value="" placeholder="请输入用户名" class="login username-field"/>
      </div> <!-- /field -->
      <div class="field">
          <input type="text" id="password" name="password" value="" placeholder="请输入密码" class="login password-field"/>
      </div>

    </div> <!-- /login-fields -->

    <div class="login-actions">
      <button class="button btn btn-success" onclick="login();">密码登录</button>
    </div> <!-- .actions -->
  </div>
</div> <!-- /account-container -->
<script src="/js/login.js"></script>
</body>
</html>
