<% include common/header.html %>
<div class="account-container">
  <div class="content clearfix">

    <h1>用户登录</h1>

    <div class="login-fields">
      <div class="field">
        <input type="text" id="userName" name="userName" value="" placeholder="请输入用户名" class="login username-field"/>
      </div> <!-- /field -->

      <div class="field">
        <a class="btn" onclick="sendWechatCode()">获取登录验证码</a>
      </div> <!-- /field -->
      <div class="field">
          <input type="text" id="password" name="password" value="" placeholder="请输入密码" class="login password-field"/>
      </div>

    </div> <!-- /login-fields -->

    <div class="login-actions">
      <button class="button btn btn-success btn-large" onclick="login();">密码登录</button>
    </div> <!-- .actions -->

</div> <!-- /account-container -->
<link href="/css/login/signin.css" rel="stylesheet" type="text/css">
<script src="/js/login.js"></script>
</body>
</html>
