<%include ../common/header.html%>
<%include ../common/navbar.html%>

<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="widget widget-table action-table">
                        <!-- /widget-header -->
                        <div class="widget-content">
                            <div class="tab-content">
                                <div class="tab-pane active" id="formcontrols">
                                    <form id="mainForm" class="form-horizontal">
                                            <div class="control-group" style="margin-top: 18px;">
                                                <label class="control-label" for="name">用户名:</label>
                                                <div class="controls">
                                                    <input type="text" id="id", name="id">
                                                    <input type="text" class="span4" id="name" name="name" maxlength="20" >
                                                </div> <!-- /controls -->
                                            </div>
                                            <div class="control-group" style="margin-top: 18px;">
                                                <label class="control-label" for="name">openId:</label>
                                                <div class="controls">
                                                    <input type="text" class="span4" id="openId" name="openId" maxlength="20" >
                                                </div> <!-- /controls -->
                                            </div>
                                            <div class="form-actions">
                                                <a class="btn btn-primary" onclick="saveEdit();">保存</a>
                                            </div>
                                    </form>
                                </div>

                            </div>
                        </div>
                        <!-- /widget-content -->
                    </div>
                    <!-- /widget -->
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<!-- /main -->
<script src="/js/user/userEdit.js"></script>
<%include ../common/footer.html%>
