<link href="/plug/markdown/css/editormd.css" rel="stylesheet" />
<%include ../common/header.html%>
<%include ../common/navbar.html%>
<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <!-- /widget-header -->
                    <div class="widget-content">
                        <div style="margin-top: 18px;">
                            <span>问题类型</span>
                            <input type="text"  id="tagName" name="tagName" maxlength="10"/>
                            <input type="hidden"  id="tagId" name="tagId" maxlength="10" />
                        </div>
                        <div style="margin-top: 18px;">
                            <span for="name">问题名称</span>
                            <input type="text" id="name" name="name"/>
                        </div>
                        <div style="margin-top: 18px;">
                            <span>问题描述</span>
                            <div id="txtblogcontent">
                                <textarea  name="content" id="container"></textarea>
                            </div>
                        </div>
                        <a class="btn btn-primary" onclick="saveQuestion();">保存</a> <a class="btn" href="/question/questionList">返回列表</a>
                    </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<link href="/css/question/questionAdd.css" rel="stylesheet"/>
<link rel="stylesheet" href="/plug/jquery/jquery-ui.css">
<script src="/plug/jquery/jquery-ui.js"></script>

<script src="/plug/markdown/editormd.min.js"></script>
<script type="text/javascript" src="/plug/markdown/to-markdown.js"></script>
<script type="text/javascript" src="/plug/markdown/markdown.min.js"></script>
<script type="text/javascript" src="/js/common/soaryang.markdown.plug.js"></script>
<script src="/js/question/questionAdd.js"></script>
<%include ../common/footer.html%>
