<link href="/plug/markdown/css/editormd.css" rel="stylesheet" />
<%include ../common/header.html%>
<%include ../common/navbar.html%>

<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget-content">
                    <div id="txtblogcontent">
                        <textarea  name="content" id="container"></textarea>
                    </div>
                    <input type="button" class="btn btn-in" value="确定" onclick="doEdit()"/>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
</div>
<!-- /main -->
<input type="hidden" class="solutionId" id="solutionId" value="<%=solutionId%>"/>
<link href="/plug/bootstrapTable/bootstrap-table.css" rel="stylesheet"/>
<script src="/plug/markdown/editormd.min.js"></script>
<script type="text/javascript" src="/plug/markdown/to-markdown.js"></script>
<script type="text/javascript" src="/plug/markdown/markdown.min.js"></script>
<script type="text/javascript" src="/js/common/soaryang.markdown.plug.js"></script>
<script type="text/javascript" src="/js/question/solutionEdit.js"></script>

<%include ../common/footer.html%>
