<%include ../common/header.html%>
<%include ../common/navbar.html%>

<!-- /subnavbar -->
<div class="main">
    <div class="tagContent" >
        <div style="display:inline;">
            <span>tag名称</span>
            <input type="text" id="tagName" name="name" maxlength="20" >
        </div>
        <br/>
        <div>
            <span>图&nbsp;片</span>
            <input type="file" name="file" id="file"/>
        </div>
        <a class="btn btn-primary" onclick="saveTag();">保存</a>
    </div>
</div>
<!-- /main -->
<link href="/css/question/tagAdd.css" rel="stylesheet">
<script src="/plug/jquery/ajaxfileupload.js"></script>
<script src="/js/question/tagAdd.js"></script>
<%include ../common/footer.html%>
