<%include ../common/header.html%>
<%include ../common/navbar.html%>

<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <div class="widget-content">
                    <div>
                        <!--<button type="button" class="btn btn-primary" onclick="addAddress()">新增标签</button>-->
                        <a href="/question/tagAdd" class="btn btn-info">新增标签</a>
                        <a href="#" class="btn btn-info btn-tag-indexPage">设置主页标签标签</a>
                        <!--<a href="/question/tagCrawler" class="btn btn-info">抓取标签(stackworkflow)</a>-->
                    </div>
                    <div style="margin-top: 10px;margin-bottom: 10px;">
                        <label style="display:inline;">编号</label>
                        <input style="width: 200px;" id="id",name="id"/>
                        <label style="display:inline;">名称</label>
                        <input style="width: 200px;" id="name",name="name"/>
                        <label style="display:inline;">使用状况</label>
                        <select style="width: 80px;margin-top: 10px;" id="useStatus" onchange="choseUseStatus()">
                            <option value="0">未使用</option>
                            <option value="1">使用</option>

                            <option value="2">禁用</option>
                        </select>
                        <input type="button" class="btn btn-info search" value="search"/>
                    </div>
                    <table id="tableList" class="table table-striped"
                           data-pagination-first-text="第一页"
                           data-pagination-pre-text="前一页"
                           data-pagination-next-text="下一页"
                           data-pagination-last-text="最后一页">
                    </table>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<!-- /main -->
<link href="/plug/bootstrapTable/bootstrap-table.css" rel="stylesheet"/>
<script src="/plug/bootstrapTable/bootstrap-table.js"></script>
<script src="/plug/bootstrapTable/locale/bootstrap-table-zh-CN.js"></script>
<script src="/js/common/soaryang.table.plug.js"></script>
<script type="text/javascript" src="/js/common/soaryang.table.plug.js"></script>
<script type="text/javascript" src="/js/question/tagList.js"></script>

<link href="/css/question/tagList.css" rel="stylesheet">
<%include ../common/footer.html%>
