.form-horizontal{
    min-height: 200px;
    border: 1px solid #ccc;
    padding: 5px;
}

.next-form-item-label[required]:before {
    display: inline-block;
    margin-right: 4px;
    content: "*";
    font-family: SimSun;
    color: red;
}
.error{
    color:red;
}