<%include ../frontCommon/frontHeader.html%>
<link rel="stylesheet" href="/css/front/index.css" rel="stylesheet">
<div class="main" style="margin-top: 60px;">
    <div class="container questionContainer">
        <div class="row">
            <div class="col-md-9">
                <div>
                    <ul class="nav nav-tabs title">
                        <li class="active" onclick="setTitle(1)"><a href="#home" data-toggle="tab">最新</a></li>
                        <li onclick="setTitle(2)"><a href="#ios" data-toggle="tab">热门</a></li>


                        <!--
                        <li class="dropdown">
                            <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Java <b
                                    class="caret"></b></a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                                <li><a href="#jmeter" tabindex="-1" data-toggle="tab">jmeter</a></li>
                                <li><a href="#ejb" tabindex="-1" data-toggle="tab">ejb</a></li>
                            </ul>
                        </li>
                        -->
                    </ul>
                </div>
                <div  class="questionContent question_1">

                </div>
                <div  class="questionContent question_2" style="display: none;">

                </div>
                <div  class="questionContent question_3" style="display: none;">

                </div>

                <div style="text-align: center;" id="pagePlugId">
                </div>

            </div>
            <%include ../frontCommon/frontRight.html%>
        </div>
    </div>
</div>
<!-- javascript -->
<script src="/plug/jquery/jquery-1.12.4.min.js"></script>
<script src="/plug/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/common/soaryang.common.handler.js"></script>
<script type="text/javascript" src="/js/common/soaryang.ajax.plug.js"></script>
<script src="/js/index.js"></script>
</body>
</html>