<%include ../frontCommon/frontHeader.html%>
<link rel="stylesheet" href="/css/front/join.css" rel="stylesheet">

<script src="/plug/jquery/jquery.validate.min.js"></script>
<script src="/plug/jquery/messages_zh.js"></script>
<script src="/js/front/join.js"></script>
<script src="http://static.geetest.com/static/tools/gt.js"></script>
<style>

    #captcha1{
        width: 330px;
        display: inline-block;
    }
    .geetest_logo{
        display: none;
    }
    .geetest_success_logo{
        display: none;
    }

</style>
<div class="main" style="margin-top: 60px;">

    <div class="row">
        <div class="col-md-3">
        </div>
        <div class="col-md-6">
            <ul class="nav nav-tabs" id="navtab">
                <li class="active"><a href="#1" data-toggle="tab">邮箱注册</a></li>
                <!--<li class=""><a href="#2" data-toggle="tab">微信注册</a></li>-->
            </ul>
            <form class="form-horizontal" style="background-color: rgb(255, 255, 255);" id="signupForm">

                <fieldset>
                    <div class="form-group">
                        <label for="name" required="" class="control-label col-md-3 next-form-item-label">用户名:</label>
                        <div class="controls col-md-6">
                            <input type="text" placeholder="会员名" id="name" name="name" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password" required="" class="control-label col-md-3 next-form-item-label">登录密码:</label>
                        <div class="controls col-md-6">
                            <input type="password" placeholder="登录密码" id="password" name="password" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="repassword" required="" class="control-label col-md-3 next-form-item-label">密码确认:</label>
                        <div class="controls col-md-6">
                            <input type="password" placeholder="密码确认" id="repassword" name="repassword" class="form-control">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="email" required="" class="control-label col-md-3 next-form-item-label">邮箱:</label>
                        <div class="controls col-md-6">
                            <input type="text" placeholder="邮箱" id="email" name="email" class="form-control email_input">
                        </div>
                    </div>

                    <div class="form-group" style="text-align: center;">
                        <div id="captcha1"></div>
                        <p id="notice1" class="hide">请先完成验证</p>
                    </div>

                    <!--
                    <div class="form-group">
                        <label for="verifyCode" required="" class="control-label col-md-3 next-form-item-label">验证码</label>
                        <input type="button" class="btn btn-success getverifyCode" id="getverifyCode"  value="获取验证码">

                        <div class="controls col-md-3">
                            <input type="text" placeholder="验证码" id="verifyCode" name="verifyCode" class="form-control">
                        </div>
                        <div class="controls col-md-3">
                            <img class="pull-right" id="captcha" onclick="this.src ='/v1/api/captcha/' + Math.floor(Math.random() * 10000);" src="/v1/api/captcha/0"/>
                        </div>
                    </div>
                    -->
                    <div class="form-group">
                        <div class="controls col-md-offset-3 col-md-6">
                            <input type="button" class="btn btn-success registerButton" value="注&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;册"></input>
                        </div>
                    </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>

