<%include ../frontCommon/frontHeader.html%>
<link rel="stylesheet" href="/css/front/question/questionAdd.css" rel="stylesheet">
<div class="main" style="margin-top: 80px;">
    <div class="container">
        <div class="row">
            <div class="col-md-9">
                <h1>新增问题</h1>
                <div>
                    <label class="field" for="note_title">题目:</label>
                    <input tabindex="1" id="note_title" name="note_title" type="text" value="" autofocus="">
                </div>
                <div style="margin-top: 20px;">
                    <label class="field" for="note_title">问题补充:</label>
                    <div id="questionContent">
                        <textarea style="display:none;"></textarea>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="row">
                    <div class="col-md-12">
                        <div id="myCarousel" class="carousel slide" style="margin-top: 10px;">
                            <!-- 轮播（Carousel）指标 -->
                            <h3>
                                问题发起指南
                            </h3>
                            <ul>
                                <p>
                                    <b>问题标题: </b>请用准确的语言描述您发布的问题思想></请用准确的语言描述您发布的问题思想>
                                </p>
                                <p>
                                    <b>问题补充:</b> 详细补充您的问题内容, 并提供一些相关的素材以供参与者更多的了解您所要问题的主题思想
                                </p>
                                <p>
                                    <b>选择话题:</b> 选择一个或者多个合适的话题, 让您发布的问题得到更多有相同兴趣的人参与. 所有人可以在您发布问题之后添加和编辑该问题所属的话题
                                </p>
                                <p>
                                    <b>关于积分：</b> 发起一个问题会消耗您 20 个积分, 每多一个回复你将获得 5 个积分的奖励 ,为了您的利益,
                                    在发起问题的时候希望能够更好的描述您的问题以及多使用站内搜索功能.
                                </p>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- javascript -->
<script src="/plug/jquery/jquery-1.12.4.min.js"></script>
<script src="/plug/bootstrap/js/bootstrap.js"></script>
<script type="text/javascript" src="/js/common/soaryang.common.handler.js"></script>
<script type="text/javascript" src="/js/common/soaryang.ajax.plug.js"></script>
<link href="/plug/markdown/css/editormd.css" rel="stylesheet" />
<script src="/plug/markdown/editormd.js"></script>
<script type="text/javascript" src="/js/frontQuestion/questionAdd.js"></script>
</body>
</html>