<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>51结果</title>
    <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/plug/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/common/common.css" rel="stylesheet">
    <script src="/plug/jquery/jquery-1.12.4.min.js"></script>
    <script src="/plug/bootstrap/js/bootstrap.js"></script>
    <script src="/plug/jquery/jquery.cookie.js"></script>
    <script type="text/javascript" src="/js/common/soaryang.common.handler.js"></script>
    <script type="text/javascript" src="/js/common/soaryang.ajax.plug.js"></script>
</head>

<body>
<div class="navbar navbar-default navbar-fixed-top">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" style="padding-top: 0px;" href="/"><img src="/images/logo.jpg" style="width: 120px; height: 50px;"/></a>
    </div>
    <div class="container">
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <form class="navbar-form navbar-right">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-info">搜索</button>
                    </form>
                </li>
                <li class="navbar-form">
                    <div class="form-group">
                        <a class="btn btn-info">登陆</a>&nbsp;
                        <a href="/join" class="btn btn-info">注册</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>