body {
    font-size: 16px;
    line-height: 27px;
    font-family: 'Open Sans', sans-serif;
    color: #444;
    /*padding: 50px 0px 0px 0px;*/
    background-size: cover;
    background-attachment: fixed;
}