div {
    display: block;
}
.questionList{
    padding-top: 20px;
}
.channel-item {
    margin-bottom: 20px;
}
.channel-item .likes {
    float: left;
    margin-right: 19px;
    padding: 8px 0;
    width: 48px;
    line-height: 1.3;
    text-align: center;
    font-size: 13px;
    color: #ca6445;
}
.channel-item .bd {
    padding-left: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
    zoom: 1;
}
.channel-item .bd a{
    overflow: hidden;
    zoom: 1;
    word-wrap:break-word;
    word-break:break-all;
    color: #666699;
    text-decoration: none;
}
.channel-item h3 {
    margin: 0 0 12px 0;
    line-height: 1.3;
    font-weight: normal;
    background: 0;
    font: 16px Arial, Helvetica, sans-serif;
    color: #666666;
}
.channel-item .source {
    margin-top: 10px;
    color: #666;
}

.channel-item .source .from {
    margin-right: 18px;
}
.channel-item .pubtime {
    color: #999;
}
.tag {
    position: relative;
    display: inline-block;
    padding: .4em .5em;
    margin: 2px 2px 2px 0;
    font-size: 11px;
    line-height: 1;
    white-space: nowrap;
    text-decoration: none;
    text-align: center;
    border-width: 1px;
    border-style: solid;
    border-color: #00aaaa;
    border-radius: 90%;
    transition: all .15s ease-in-out;
}


.aside-widget {
    margin-bottom: 5px;
    border: 1px solid #ddd;
    /*border-left: 10px solid #ddd;*/
}

.aside-widget header {
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.aside-widget header h3 {
    font-size: 24px;
    padding: 10px 20px 3px 20px;
    margin-top: 0;
    color: #48535f;
}

.aside-widget .body {
    margin: 10px 0;
    padding: 5px;
}

.aside-widget a {
    color: #5b6268;
}
.tags {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.tags li {
    float: left;
}

.tags li a {
    padding: 3px 15px;
    display: inline-block;
    margin: 5px;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 25px;
}

.tags li a:focus,
.tags li a:hover {
    border-color: red;
}