<div class="footer">
    <div class="footer-inner">
        <div class="container">
            <div class="row">
                <div class="span12"> &copy; 2015 <a href="http://www.cssmoban.com/">Bootstrap Responsive Admin Template</a> -More Templates <a href="http://www.cssmoban.com/" target="_blank" title="模板之家">模板之家</a>. </div>
                <!-- /span12 -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /footer-inner -->
</div>
<!-- /footer -->
</body>
</html>
