<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>QMS</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="/plug/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/plug/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
    <link href="/css/pages/dashboard.css" rel="stylesheet">
    <script src="/plug/jquery/jquery-1.12.4.min.js"></script>
    <script src="/plug/jquery/jquery.cookie.js"></script>
    <script src="/plug/bootstrap/js/bootstrap.js"></script>
    <script src="/js/base.js"></script>
    <script type="text/javascript" src="/js/common/soaryang.common.handler.js"></script>
    <script type="text/javascript" src="/js/common/soaryang.ajax.plug.js"></script>
</head>
<body>
<div class="navbar navbar-fixed-top" style="margin-bottom: 0px;">
    <div class="navbar-inner">
        <div class="container">
            <a class="brand" href="index.html">解决方案后台系统</a>
        </div>
        <!-- /container -->
    </div>
    <!-- /navbar-inner -->
</div>
<!-- /navbar -->