<div class="subnavbar">
    <div class="subnavbar-inner">
        <div class="container">
            <ul class="mainnav">
                <!--<li class="active"><a href="/question"><i class="icon-dashboard"></i><span>问题</span> </a> </li>-->
                <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-dashboard"></i><span>问题管理</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/question/tagList">标签管理</a></li>
                        <li><a href="/question/questionList">问题管理</a></li>
                    </ul>
                </li>
                <!--<li><a href="reports.html"><i class="icon-list-alt"></i><span>用户</span> </a> </li>-->
                <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-dashboard"></i><span>用户</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/userList">用户管理</a></li>
                        <li><a href="/user/roleList">权限管理</a></li>
                    </ul>
                </li>
                <li><a href="/course/courseList"><i class="icon-facetime-video"></i><span>教程</span> </a></li>
                <li><a href="guidely.html"><i class="icon-facetime-video"></i><span>统计数据</span> </a></li>
                <li><a href="charts.html"><i class="icon-bar-chart"></i><span>抓取管理</span> </a> </li>
                <li class="dropdown"><a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown"> <i class="icon-long-arrow-down"></i><span>Drops</span> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="icons.html">Icons</a></li>
                        <li><a href="faq.html">FAQ</a></li>
                        <li><a href="pricing.html">Pricing Plans</a></li>
                        <li><a href="login.html">Login</a></li>
                        <li><a href="signup.html">Signup</a></li>
                        <li><a href="error.html">404</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <!-- /container -->
    </div>
    <!-- /subnavbar-inner -->
</div>