<link href="/plug/markdown/css/editormd.css" rel="stylesheet" />
<%include ../common/header.html%>
<%include ../common/navbar.html%>
<!-- /subnavbar -->
<div class="main">
    <div class="main-inner">
        <div class="container">
            <div class="row">
                <!-- /widget-header -->
                <div class="widget-content">
                    <div style="margin-top: 18px;">
                        <span for="name">教程名称</span>
                        <input type="text" id="courseName" name="courseName"/>
                    </div>
                    <div style="margin-top: 18px;">
                        <span>教程描述</span>
                        <div id="txtblogcontent">
                            <textarea  name="content" id="container"></textarea>
                        </div>
                    </div>
                    <a class="btn btn-primary" onclick="saveQuestion();">保存</a> <a class="btn" href="/course/courseList">返回列表</a>
                </div>
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /main-inner -->
</div>
<link href="/css/question/questionAdd.css" rel="stylesheet"/>
<link rel="stylesheet" href="/plug/jquery/jquery-ui.css">
<script src="/plug/jquery/jquery-ui.js"></script>

<script src="/plug/markdown/editormd.min.js"></script>
<script type="text/javascript" src="/plug/markdown/to-markdown.js"></script>
<script type="text/javascript" src="/plug/markdown/markdown.min.js"></script>
<script type="text/javascript" src="/js/common/soaryang.markdown.plug.js"></script>
<script src="/js/course/courseAdd.js"></script>
<%include ../common/footer.html%>
